<%- partial('_partial/head') %>
<body>
    <%- partial('_partial/header') %>
    <div class="container">
        <%- body %>
    </div>
    <%- partial('_partial/silder') %>
    <%- partial('_partial/footer') %>
    <%- partial('_partial/after-footer') %>
</body>
</html>